.loginbody{
	background: url(11.jpg) no-repeat center fixed; 
	background-size: cover;
}

.h1login{
    text-align: center;
    font-family: helvetica,arial;
    color: #84b332;
	font-weight: 500;
    padding: 3.8%;
    background-color: white;
    margin-top: -15px;
}

.navigation{
    overflow: hidden;
    background-color: white;
}

.navigation a {
      float: left;
      color: #333;
      text-align: center;
      padding: 15px 30px;
      text-decoration: none;
      font-size: 17px;
}

.navigation a:hover {
  background-color: #333;
  color: white;
}

.navigation a.current {
  background-color: #84b332;
  color: #333;
}

.h2login{
    font-family: helvetica,arial;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    color: white;
}
.h3login{
    text-align: left;
    font-family: helvetica,arial;
    font-size: 17px;
	color: white;
	font-weight: 500;
    padding: 2.5%;
    background-color: white;
	background-image: linear-gradient(to right, #2e1114, #83677b);
}

.h4login{
    text-align: left;
    font-family: helvetica,arial;
    color: white;
	font-size: 17px;
	font-weight: 500;
    padding: 2.5%;
    background-color: white;
	background-image: linear-gradient(to right, #24305e, #a8d0e6);
}

.h5login{
    text-align: left;
    font-family: helvetica,arial;
    color: white;
	font-size: 17px;
	font-weight: 500;
    padding: 2.5%;
    background-color: white;
	background-image: linear-gradient(to right, #5d001e, #e3afbc);
}

.user{
    font-style: normal;
}

.loginlabel{
    font-family: helvetica,arial;
    font-size: 25px;
    text-align: center;
    color: white;
}

.button {
  outline: 0;
    border: 0;
  background: #84b332;
  padding: 15px;
    padding-top: 15px;
  font-size: 14px;
  cursor: pointer;
    color: white;

}

.login {
  margin: auto;
}

.form {
    width: 360px;
  margin: 0 auto 100px;
  padding: 30px;
}

input{
font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  border: 0;
  padding: 10px;
  font-size: 15px;
box-shadow: 0 0 10px 0;

}

.fontc{
	    font-family: helvetica,arial;
		color: white;
}
.detail{
    color: black;
    font-size: 25px;
}

.allbuttons{
    text-decoration: none;
    padding: 4px;
    background:#84b332;
    border:4px solid #84b332;
    color: white;
}

.fontcolor{
	color: white;
}
.footerClass{
	
}
.slideshowImages{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.mySlides {
	display:none;
}

.mySlides1 {
	display:none;
}

.animate-left{
	position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-200px;opacity:0} to{left:0;opacity:1}
}

.swipeLeft{
	float:left!important
}

.swipeRight{
	float:right!important
}

.hover-text-khaki:hover{
	color:#b4aa50!important
}

.w3-badge {
	cursor:pointer
}

.w3-white
.w3-large{
	font-size:18px!important
}
.w3-text-white

.w3-display-topmiddle{
	position:absolute;left:50%;top:0;
	transform:translate(-50%,0%);
	-ms-transform:translate(-50%,0%)
}

.w3-content{
	max-width:980px;
}

.w3-container{
	position:relative;
}

